html {
    --backgroundColor: #f7f6f3;
    --titleColor: #0d0d0d;
    --primaryColor: #88ab8e;
    --primaryColorDark: #6c8872;
    --secondaryColor: #f6e8d8;
    --secondaryColorDark: #f6bc7a;
    --secondaryColorLight: #fce8d5;
    overflow-x: hidden;
    --defaultBorderRadius: 3px;
    background-color: var(--backgroundColor);
}

::-webkit-scrollbar {
    appearance: auto;
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

body {
    margin: 0;
    padding: 0;
    --sideLeftMargin: 3%;
    --sideRightMargin: 3%;
    --headerHeight: 160px;
    --tabsHeight: 52px;
    --socialMediaIconSize: 48px;
    font-family: 'Roboto', serif;
    background-color: var(--backgroundColor);
}

#__next {
    background-color: var(--backgroundColor);
}

#safari {
    background-color: var(--backgroundColor);
}